package {{.Name}}

//go:generate mockgen -source=$GOFILE -destination=./mock_${GOFILE} -package=$GOPACKAGE

type Repository interface {
	Save({{substr 0 1 .Name}} *{{firstRuneToUpper .Name}}) error
	FindByName(name string) (*{{firstRuneToUpper .Name}}, error)
}
